# Binaries
bin/
apps/api/api
*.exe
*.dll
*.so
*.dylib

# Dependencies
apps/mobile/node_modules

# OS files
.DS_Store

# Local Env
.env
.env.local


# Go workspace files
go.work
go.work.sum
node_modules
